@model List<NurseReportViewModel>
@{
    ViewData["Title"] = "护理不良事件讨论改进记录列表";
}

<head>
    <title>护理不良事件讨论改进记录列表</title>
</head>
<div class="row">
    <div class="col-md-12" style="text-align:center">
        <h4><strong>护理不良事件讨论改进记录列表</strong></h4>
        <br />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <label class="form-inline">
            护士（当事人）姓名：
            <input type="text" class="form-control myInput" style="width:50%;" id="nurseName" name="MedicalDepartment">
        </label>
    </div>
    <div class="col-md-3">
        <label class="form-inline">
            贵宾姓名：
            <input type="text" class="form-control myInput" style="width:50%;" id="distinguishedGuests" name="PatientName">
        </label>
    </div>
    <div class="col-md-3">
        <label class="form-inline">
            住院号/门诊号：
            <input type="text" class="form-control myInput" style="width:50%;" id="hospitalNumber" name="HospitalNumber">
        </label>
    </div>
</div>
<div class="row">
    <div class="col-md-11 text-right">
        <button type="button" onclick="Query()" class="btn btn-default">查询</button>
        <button type="button" onclick="Create()" class="btn btn-default">新增</button>
    </div>
</div>
<br />
<div class="table-responsive ">
    <table class="table table-striped" style="max-width:99%;">
        <thead>
            <tr>
                <th hidden="hidden">Id</th>
                <th class="text-center">事件<br>发生的时间</th>
                <th class="text-center" style="white-space:nowrap;">护士<br />（当事人）姓名</th>
                <th  class="text-center" style="white-space:nowrap;">贵 宾 姓 名</th>
                <th class="text-center">住院号/门诊号</th>
                <th class="text-center">事件<br />发生的地点</th>
                <th class="text-center">事件<br />发生等级</th>
                <th class="text-center" style="max-width:14%">操作</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                foreach (var report in Model)
                {
                    <tr>
                        <td hidden="hidden">@report.Id</td>
                        <td class="text-center">@(new DateTime(report.OccurrenceDateYear, report.OccurrenceDateMonth, report.OccurrenceDateDay, report.OccurrenceDateHour, report.OccurrenceDateMinute, 0).ToString("yyyy-MM-dd HH:mm"))</td>
                        <td class="text-center" width="3%">@report.NurseName</td>
                        <td class="text-center">@report.DistinguishedGuests</td>
                        <td class="text-center">@report.HospitalNumber</td>
                        <td class="text-center">@report.OccurrencePlace</td>
                        <td class="text-center" width="10%">@report.EventsLevel</td>
                        <td class="text-center" width="15%">
                            <div class="row">
                                @{
                                    string userId = string.Empty;
                                    var subject = User.Claims.Where(p => p.Type == "sub").FirstOrDefault();
                                    if(subject != null)
                                    {
                                        userId = subject.Value;
                                    }
                                    <div class="col-md-5">
                                        @if (!string.IsNullOrEmpty(userId) && ViewBag.AllowedMD.Contains(userId))
                                        {
                                            <button type="button" class="btn btn-default" style="margin-bottom:10px" onclick="Edit('@report.Id')">
                                                修改
                                            </button>
                                        }
                                        <button type="button" class="btn btn-default" style="margin-bottom:10px" onclick="Detail('@report.Id')">
                                            查看
                                        </button>
                                    </div>
                                    <div class="col-md-6">
                                        @if (!string.IsNullOrEmpty(userId) && ViewBag.AllowedMD.Contains(userId))
                                        {
                                            <button type="button" class="btn btn-default" style="margin-bottom:10px" onclick="Delete('@report.Id')">
                                                删除
                                            </button>
                                        }
                                        <button type="button" class="btn btn-default" onclick="Detail('@report.Id')">
                                            打印
                                        </button>
                                    </div>
                                }
                            </div>

                        </td>
                    </tr>
                }
            }
        </tbody>

    </table>

</div>
<div class="row">
    <div class="col-md-9 text-left">
        每页 @ViewBag.recordPerPage 条记录，共有 @ViewBag.totalRecord 条记录。 第 @(ViewBag.totalRecord == 0 ? 0 : ViewBag.page) 页 ,共 @ViewBag.totalPage 页
    </div>
    <div class="col-md-3 text-right">
        <div class="container">
            @if (ViewBag.totalRecord != 0)
            {
                <ul class="pagination pagination-lg" style="float: right;">
                    @if (ViewBag.page != 1)
                    {
                        <li><a href="@Url.Action("Index", new { distinguishedGuests= ViewBag.DistinguishedGuests,nurseName=ViewBag.nurseName,hospitalNumber=ViewBag.HospitalNumber, page =(int)(ViewBag.page) -1})">上一页</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    }
                    else
                    {
                        <li><a>上一页</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    }
                    @if (ViewBag.page != ViewBag.totalPage)
                    {
                        <li><a href="@Url.Action("Index", new { distinguishedGuests= ViewBag.DistinguishedGuests,nurseName=ViewBag.nurseName,hospitalNumber=ViewBag.HospitalNumber, page = (int)(ViewBag.page) + 1 })">下一页</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    }
                    else
                    {
                        <li><a>下一页</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    }
                </ul>
            }
        </div>
    </div>
</div>

<style type="text/css">
    .active {
        text-decoration: underline;
    }
</style>

@section Scripts
    {
    <script>
        function Create() {
            self.location = '/nursereport/create';
        }
        function Detail(id) {
            self.location = '/nursereport/Detail?id=' + id;
        }
        function Query() {
            self.location = '/nursereport/Index?distinguishedGuests=' + $("#distinguishedGuests").val() + "&nurseName=" + $("#nurseName").val() + "&hospitalNumber=" + $("#hospitalNumber").val();
        }
        function Delete(id) {
            bootbox.confirm({
                message: "确定要删除吗？",
                buttons: {
                    cancel: {
                        label: "取消"
                    },
                     confirm: {
                        label: "确定"
                    }
                },
                callback: function (result) {
                    if (result) {
                        self.location = '/nursereport/Delete?id=' + id;
                    } else {
                        return;
                    }
                }
            });
        }
            function Edit(id) {
                self.location = '/nursereport/Edit?id=' + id;
            }
    </script>
}
